table {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: darkgrey;
}
tr, td {
    border: 1px solid black;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: top;
}
#seventy {
    width:70%;
}
#thirty {
    width: 30%;
}
caption {
    width: 70%
}
body {
    background-color: cornsilk;
}