body { 
    background-color: antiquewhite;
}
      h1 {
        text-align: center;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: silver;
        text-transform: uppercase;
        font-size: 40pt}

      h2 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 24pt;
        color: #b08040;
        font-style: italic;
        text-decoration: underline;
      }

      p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12pt;
        border: black solid 2px;
        margin: 40px;
        padding: 40px 10px 10px 10px;
        width: 50%;}
      
      p::first-letter {
        font-size: 200%; }